*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#C7E7F3, #2C8CB3);
}